* {
  margin: 5px auto;
}

.App {
  text-align: center;
  width: 100%;
}

.container h1 {
  text-align: center;
}

.logo {
  height: 80px;
  margin: 5px 5px;
}

nav {
  height: 50px;
}

.mb-3 {

  width: 80%;
}

.align {
  text-align: center;
}

.loginBox {
  width: 80%;
}


/* LOADER */
.loader {
  border: 10px solid silver;
  border-radius: 50%;
  border-top: 10px solid red;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  margin: 40px auto 20px;
}

.loaderText {
  text-align: center;
  color: var(--white-color);
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* LOGOUT SWITCH */
.logoutContainer {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e5e5e5;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: red;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* END LOGOUT SWITCH */

/* ANNONCES CARD */
.card {
  display: flex;
  flex-direction: row;
}
.card img {
  height: 200px;
  width: auto;
}